<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pokemon Collector</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
</head>

<body>
  <div class="errPage">
    <h2>4<img src="/assets/img/favicon.png" alt="0"/>4</h2>
    <p>ooops... this page doesnt exist</p>
    <a href="/collector">
     <input id="backSubmit" type="submit" value="Back" />
    </a>
  </div>

</body>

</html>