<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pokemon Collector</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/profile.css"/>
</head>
<body>
  <nav><a href="/profile"><img id="logo" src="/assets/img/favicon.png" alt="pokeball"/></a>
     <div class="navlink"><a href="/logout">Logout</a></div>
     <div class="navlink"><a href="/profile">Profile</a></div>
     <div class="navlink" id="current">MyPokemon</div>
     <div class="navlink"><a href="/search">Search</a></div>
  </nav>

  <section id="app">

  </section>

  <script src="/assets/pokemonBundle.js"></script>
</body>
</html>